html
{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}


.calculator{
    display: flex;
    flex-direction: column;
    width: 280px;
}

.calculator-keys{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.key-row-1 , .key-row-2 , .key-row-3{
    width: 100%;
}

.key-row-1{
    display: flex;
}

.key-row-2{
    display: flex;
    justify-content: space-between;
}

.key-row-3{
    display: flex;
}


.numbers{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
  
}

.key-equal{
    flex-basis: 100%;
}


.zero{
    flex-basis: 66.67%;
}

.symbols{
    display: flex;
    flex-direction: column ; 
}





button{
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f7f7f7;
    font-size: 25px;
    width: 70px;
    outline: none;

}


.key-function{
    background-color: #e8e6e3;
}

.key-operator{
    background-color: #fe9241;
    color: #fff;
}

.key-equal{
    background-color: #6fc0db;
}

.plus{
    flex-basis:50% ;
    background-color: brown;
}

.calculator-display{
    width: 100%;
    color: #fff;
    background-color: #2f2323;
    padding: 10px;
    font-size: 2em;
    border-bottom: 1px solid #2c2c2c;
    text-align: right;
    margin-bottom: 8px;
}